body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}
canvas {
  max-width: 100%;
}

#game {
  font-size: 24px;
  margin-bottom: 20px;
}

#key {
  font-size: 48px;
  color: darkblue;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-style: none;
  border-radius: 15px;
}
